<template>
<v-layout  justify-center column>
<v-card style="width: 100%;">
  <v-toolbar style="width: 100%;">
    <v-toolbar-title>
      RCVR Configurations
    </v-toolbar-title>
    <!-- <v-spacer></v-spacer> -->
  <v-btn 
  fab 
  absolute 
  bottom 
  right 
  color="blue" 
  v-show="savesettingsbtn"
  @click.native="saveConfig()">
  <v-icon>save</v-icon>
  </v-btn>


  </v-toolbar>
  <v-card-text>

  <v-data-table
    :headers="headers"
    :items="rcvrConfig"
    hide-actions
    class="elevation-1"
  >
    <template slot="items" slot-scope="props">
        <td>{{ props.item.label }}</td>
        <td>{{ props.item.rcvrId }}</td>
        <td>{{ props.item.rcvrIp }}</td>
        <td>
          <v-btn icon small color="green lighten-2" v-if="props.item.paired === false" :loading="pairing" :disabled=false @click.native="pairRcvr(props.item.rcvrId, props.item.rcvrIp)">
            <v-icon small>compare_arrows</v-icon>
          </v-btn>
          <v-icon v-else color="green">
            check
          </v-icon>        
        </td>
        <td><v-btn icon small @click.native="deleteRcvr(props.item.rcvrId)" color="red lighten-1"><v-icon small>delete</v-icon></v-btn></td>
      </template>
    </v-data-table>   
    <v-layout row>
      <v-spacer></v-spacer>
              <v-btn flat @click.native="addRcvr = !addRcvr">
                add rcvr &nbsp;
        <v-icon>
          add
        </v-icon>
      </v-btn>
    </v-layout>
  </v-card-text>

</v-card>
  <v-dialog v-model="addRcvr" max-width="500px">
    <v-card>
      <v-card-title>
        Add a Reciever
      </v-card-title>
      <v-card-text>
        <v-text-field
          :label="`Label/Name`"
          v-model='newRCVR.label'></v-text-field>
        <v-text-field
          :label="`IP Address`"
          v-model='newRCVR.rcvrIp'></v-text-field> 
        <v-text-field
          :label="`RCVR ID`"
          v-model='newRCVR.rcvrId'
          @keypress.enter="addRCVR()"></v-text-field>   
      </v-card-text>
      <v-card-actions>
        <v-btn color="primary" flat @click.stop="addRcvr=false">Close</v-btn>
        <v-spacer></v-spacer>
        <v-btn :disabled="!newRCVR.rcvrIp || !newRCVR.rcvrId" color="primary" flat @click.stop="addRCVR()">Add RCVR</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
  <v-dialog v-model="inputPin" max-width="500px">
    <v-card>
      <v-card-title>
        Enter PIN
      </v-card-title>
      <v-card-text>
        <v-text-field
          v-model='pin'></v-text-field> 
      </v-card-text>
      <v-card-actions>
        <v-btn color="primary" flat @click.stop="closePin()">Close</v-btn>
        <v-spacer></v-spacer>
        <v-btn :disabled="!pin" color="primary" flat @click.stop="sendPin()">Send Pin</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</v-layout>
</template>
<script>
import { getRcvrs, saveRcvrConfig, startpair, finishpair } from '@/api'
export default {
  data() {
    return {
      rcvrConfig: undefined,
      savesettingsbtn: false,
      pin: undefined,
      inputPin: false,
      pairingId: undefined,
      pairingIp: undefined,
      pairingPassword: undefined,
      pairingName: undefined,
      pairing: false,
      newRCVR: {
        label: undefined,
        paired: false,
        rcvrIp: undefined,
        rcvrId: undefined,
        name: ' ',
        passwrd: ' '
      },
      addRcvr: false,
      headers: [
        {
          text: 'Label',
          align: 'left',
          value: 'name',
          sort: false
        },
        {
          text: 'ID',
          align: 'left',
          value: 'id'
        },
        {
          text: 'IP',
          align: 'left',
          value: 'ip'
        },
        {
          text: 'Pair',
          align: 'left',
          value: 'paired'
        },
        {
          text: 'Delete RCVR',
          align: 'left',
          value: 'delete'
        },
      ]
    };
  },
  mounted() {
    this.getRcvrs()
  },
  methods: {
    closePin: function() {
      this.inputPin=false
      this.pin=undefined
      this.pairing=false
    },
    pairRcvr: function(id, ip) {
      this.pairing = true;
      var test = {
        rcvrTest: ["publicAPIpair"],
        rcvrConfig: [{
          rcvrId: id,
          rcvrIp: ip
        }]
      };
      return startpair(test).then(
        res => {
          this.inputPin = true
          this.pairingId = res.data.rcvrId
          this.pairingIp = res.data.rcvrIp
        },
        err => {
          console.log(err)
        }
      );
    },
    sendPin: function() {
      this.pairing = true
      return finishpair(this.pin, this.pairingId, this.pairingIp).then(
        res => {
          var result = JSON.parse(res.data.result)
          this.pairingPassword = result.passwd
          this.pairingName = result.name
          this.closePin()
          this.wrtiePair()
        },
        err => {
          // this.testRun[index].paired = false;
        }
      );
    },
    getRcvrs () {
      return getRcvrs().then(res => {
        this.rcvrConfig = res.data.config
      })
    },
    addRCVR () {
      this.addRcvr = false
      this.rcvrConfig.push(this.newRCVR)
      this.savesettingsbtn = true
      this.newRCVR = {
        label: undefined,
        paired: false,
        rcvrIp: undefined,
        rcvrId: undefined, 
        name: ' ',
        passwrd: ' '
      }
    },
    wrtiePair () {
      for (var i = 0; i < this.rcvrConfig.length; i++) {
        if (this.pairingId === this.rcvrConfig[i].rcvrId){
          var index = i 
        }
      }
      console.log(index)
      this.rcvrConfig[index].paired = true
      this.rcvrConfig[index].name = this.pairingName
      this.rcvrConfig[index].passwrd = this.pairingPassword
      this.savesettingsbtn = true
    },
    deleteRcvr (rcvr) {
      for (var i = 0; i < this.rcvrConfig.length; i++) {
        if (rcvr === this.rcvrConfig[i].rcvrId){
          var index = i 
        }
      }
      this.rcvrConfig.splice(index, 1)
      this.savesettingsbtn = true
    },
    saveConfig () {
      return saveRcvrConfig(this.rcvrConfig).then(res => {
        this.getRcvrs()
        this.savesettingsbtn = false
      })
    }
  }
};
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
th {
  text-align: left;
}
</style>
