<template>
  <v-card style="min-width:100%;">
    <v-toolbar>
      <v-toolbar-title>Run Tests</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon @click.native="runhelp = true">
        <v-icon>
          question_answer
        </v-icon>
      </v-btn>
      <v-dialog v-model="runhelp" max-width="500px">
        <v-card>
          <v-card-title>
            Help for running tests
          </v-card-title>
          <v-card-text>
            <ul>
              <li>1. Enter your initials in the upper right hand cornor.</li>
              <br><br>
              <li>2. Select the test or tests you would like to run. They do not currently maintain the order in which they are placed so keep that in mind.</li>
              <br><br>
              <li>3. Select the reciever from the drop down list. If you do not see the reciever you would like, you must first add it, then pair it in the RCVR Config page.</li>
              <br><br>
              <li>4. You may add additional recievers by clicking the add reciever <v-icon>add_to_queue</v-icon> button in the lower left hand cornor.</li>
              <br><br>
              <li>5. After comfirming all fields are correct, you should see the run button <v-icon>directions_run</v-icon> appear in the lower right hand cornor. Press it to start the tests. You will then notive a small tab at the lower part of your screen signifying that the tests are running.</li>
              <br><br>
              <li>6. Finnally, your can monitor your tests progress in the Test Results page.</li>
            </ul>
          </v-card-text>
          <v-card-actions>
            <v-btn color="primary" flat @click.stop="runhelp=false">Close</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-toolbar>
    <v-card-title v-show="loading" >Testing...</v-card-title>
    <v-progress-linear v-show="loading" :indeterminate="loading"></v-progress-linear>
    <v-container v-show="!loading">
      <v-card-title>
        <v-layout column wrap>
          <v-layout row wrap>
            <v-spacer></v-spacer>
            <v-flex xs2>
            <v-text-field label="Initials" v-model='testRun.employee' required></v-text-field>
            </v-flex>
          </v-layout>
          <v-checkbox
            :disabled="!testRun.employee"
            :label="`Run Test Suite(select all)`"
            v-model="testsuite"
          ></v-checkbox>
          <v-select :items="tests" label="Select Test/Test's" v-show="!testsuite" :disabled="!testRun.employee" v-model="testRun.rcvrTest" class="ma-1" multiple autocomplete chips clearable required>
          </v-select>
        </v-layout>
      </v-card-title>
      <v-card-text v-if="testRun.rcvrTest.length >= 1 || testsuite" transition="slide-y-reverse-transition" style="justify-content: center; align-content: center;">
        <v-layout row wrap>
          <v-flex xs12 sm8>
            <v-layout v-for="(rcvr, indexB) in testRun.rcvrConfig" :key="indexB" row wrap>
              <v-flex xs8>
                <v-select :items=savedRcvrConfig item-text="label" item-value="id" label="Select a Reciever" v-model="testRun.rcvrConfig[indexB]" class="ma-1" prepend-icon="router" required>
                </v-select>
                <p v-text="rcvr.rcvrId" class="ma-1">
                </p>
                <p v-text="rcvr.rcvrIp" class="ma-1"><v-icon>language</v-icon>
                </p>
              </v-flex>
              <v-flex xs4>
                <v-btn v-if="testRun.rcvrConfig.length > 1 && indexB > 0" icon style="margin-top: 15px;" @click.native="deleteRcvr(indexB)">
                  <v-icon>close</v-icon>
                </v-btn>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex xs12 sm4>
            <v-layout row>
              <v-switch :label="`Set Future Time/Date`" v-model="dateTime" :disabled='true'></v-switch>
            </v-layout>
            <div v-show="dateTime">
              <v-flex xs12>
                <v-dialog ref="dialog" persistent v-model="modal2" lazy full-width width="290px" :return-value.sync="time">
                  <v-text-field slot="activator" label="Set Run Time" v-model="runTime.time" prepend-icon="access_time" readonly></v-text-field>
                  <v-time-picker v-model="time" actions>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="modal2 = false">Cancel</v-btn>
                    <v-btn flat color="primary" @click="setTime(time)">OK</v-btn>
                  </v-time-picker>
                </v-dialog>
              </v-flex>
              <v-flex xs12>
                <v-dialog ref="dialog" persistent v-model="modal" lazy full-width width="290px" :return-value.sync="date">
                  <v-text-field slot="activator" label="Set Run Date" v-model="runTime.date" prepend-icon="event" readonly></v-text-field>
                  <v-date-picker v-model="date" scrollable>
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="modal = false">Cancel</v-btn>
                    <v-btn flat color="primary" @click="setDate(date)">OK</v-btn>
                  </v-date-picker>
                </v-dialog>
              </v-flex>
            </div>

          </v-flex>
          <v-layout row>          
            <v-btn color="blue" right :disabled="loading" @click.native="addRcvr">
              <v-icon>add_to_queue</v-icon>
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn color="green lighten-2" right :disabled="loading || !testRun.employee || !testRun.rcvrTest || !testRun.rcvrConfig[0].rcvrIp || !testRun.rcvrConfig[0].rcvrId" required @click.native="runTests()">
              <v-icon>directions_run</v-icon>
            </v-btn>
          </v-layout>
        </v-layout>
      </v-card-text>
      <v-divider/>
    </v-container>
    <v-snackbar
      :timeout="timeout"
      :bottom="true"
      :multi-line="mode === 'multi-line'"
      :vertical="mode === 'vertical'"
      v-model="snackbar"
    >
      {{ testMessage }}
      <v-btn flat icon @click.native="snackbar = false">
        <v-icon>close</v-icon>
      </v-btn>
    </v-snackbar>
  </v-card>
</template>

<script>
  import {
    runTest,
    scheduleTest,
    getTests,
    pair,
    getRcvrs
  } from "@/api";
  export default {
    data() {
      return {
        runhelp: false,
        testsuite: false,
        mode: undefined,
        timeout: 6000,
        snackbar: false,
        testMessage: undefined,
        snackColor: undefined,
        pairing: false,
        loading: false,
        modal: false,
        modal2: false,
        responses: undefined,
        paired: true,
        dateTime: false,
        date: null,
        time: null,
        savedRcvrConfig: undefined,
        runTime: {
          time: undefined,
          date: undefined
        },
        menu: false,
        tests: [],
        testlist: [],
        testRun: {
          rcvrTest: [],
          schedule: undefined,
          employee: undefined,
          rcvrConfig: [{
            rcvrId: undefined,
            rcvrIp: undefined,
            paired: false,
            name: ' ',
            passwrd: ' '
          }]
        }
      };
    },
    mounted() {
      this.gettests()
      this.getRcvrs()
    },
    methods: {
      clearFields: function() {
        this.testRun = {
          rcvrTest: [],
          schedule: undefined,
          employee: undefined,
          rcvrConfig: [{
            rcvrId: undefined,
            rcvrIp: undefined,
            paired: false
          }]
        }
      },
    getRcvrs () {
      return getRcvrs().then(res => {
        let rcvrConfig = res.data.config
        console.log(rcvrConfig)
        this.savedRcvrConfig = rcvrConfig
      })
    },
    gettests: function() {
      return getTests().then(res => {
        var tests = res.data;
        this.testlist = tests;
        var testslength = tests.length;
        for (var i = 0; i < testslength; i++) {
          if (!tests[i].startsWith("__") && !tests[i].startsWith('.')) {
            var label = tests[i].replace(/_/g, " ").toUpperCase();
            var testItem = {
              text: label.slice(0, -3),
              value: "sgstests.functional_tests.tests." + tests[i].slice(0, -3)
            };
            this.tests.push(testItem);
          }
        }
      });
    },
      // addnewTest: function() {
      //   this.testRun.push({
      //     rcvrTest: undefined,
      //     schedule: undefined,
      //     employee: undefined,
      //     rcvrConfig: [{
      //       rcvrId: undefined,
      //       rcvrIp: undefined,
      //       paired: false
      //     }]
      //   });
      // },
      setTime(time) {
        this.runTime["time"] = time;
        this.modal2 = false;
      },
      setDate(date) {
        this.runTime["date"] = date;
        this.modal = false;
      },
      addRcvr: function() {
        this.testRun.rcvrConfig.push({
          rcvrId: undefined,
          rcvrIp: undefined,
          paired: false
        });
      },
      deleteTestRun: function(index) {
        this.testRun.splice(index, 1);
      },
      deleteRcvr: function(indexB) {
        // this.testRun.rcvrConfig[indexB].paired = false;
        console.log(indexB)
        this.testRun.rcvrConfig.splice(indexB, 1);
      },
      runTests: function() {
        if (!this.dateTime) {
          this.loading = true;
          if (this.testsuite) {
            for (var x = 0; x < this.tests.length; x++){
              this.testRun['rcvrTest'].push(this.tests[x]['value'])
            }
          }
          return runTest(this.testRun).then(res => {
            this.responses = res.data.Result_List;
            this.loading = false;
            this.snackbar = true;
            this.testMessage = "Test In Progress - Check Results Page Soon"
            this.testsuite = false;
            this.testRun = {
              rcvrTest: [],
              schedule: undefined,
              employee: undefined,
              rcvrConfig: [{
                rcvrId: undefined,
                rcvrIp: undefined,
                paired: false
              }]
            };
            console.log(res);
          });
        } else {
          this.loading = true;
          var scheduledate = {
            date: this.date,
            time: this.time
          }
          this.testRun.schedule = this.runTime
          return scheduleTest(this.testRun).then(res => {
            this.loading = false;
            this.snackbar = true;
            this.testMessage = "Test Scheduled - Check Schedule Page"
          })
        }
      }
    }
  };
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1,
  h2 {
    font-weight: normal;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  a {
    color: #42b983;
  }
</style>
