<template>
  <v-layout  justify-center column>
        <v-card>
    <v-toolbar>
      <v-toolbar-title>Scheduled Tests</v-toolbar-title>
      <v-spacer></v-spacer>

    </v-toolbar>
<v-card-text>
  <template>
<v-data-table
    :headers="headers"
    :items="schedule"
    class="elevation-1"
    :loading="loading"
  >
    <template slot="items" slot-scope="props">
        <td>{{ props.item.id }}</td>
        <td v-html="parseTests(props.item.tests)"></td>
        <td v-html="parseConfig(props.item.config)"></td>
        <td v-html="parseDate(props.item.time_scheduled)"></td>
        <td>{{ props.item.time_created }}</td>
        <td>{{ props.item.employee }}</td>
    </template>
  </v-data-table>
</template>
</v-card-text>
    <v-container>
    <v-divider/>
    </v-container>
    </v-card>
  </v-layout>
</template>
<script>
import { getSchedule } from "@/api";
export default {
  data() {
    return {
      pairing: false,
      loading: false,
      schedule: undefined,
      headers: [
        {
          text: "ID",
          value: "id"
        },
        {
          text: "Test's Scheduled",
          value: "tests"
        },
        {
          text: "RCVR's",
          value: "rcvr"
        },
        {
          text: "Scheduled For",
          value: "schedule_time"
        },
        {
          text: "Scheduled On",
          value: "created_at"
        },
        {
          text: "Employee",
          value: "employee"
        }
      ],
      tests: [],
      testRuns: [
        {
          rcvrTest: undefined,
          rcvrConfig: [
            {
              rcvrId: undefined,
              rcvrIp: undefined,
              paired: false
            }
          ]
        }
      ]
    };
  },
  mounted() {
    this.getScheduled();
  },
  methods: {
    parseDate: function (date) {
      var date = JSON.parse(date)
      return 'Date: ' + date['date'] + '<br>' + 'Time: ' + date['time']
    },
    parseConfig: function (config) {
      console.log(config)
      var returnstring = ''
      var config = JSON.parse(config)
      for (var i = 0; i < config.length; i++) {
        returnstring =  returnstring + 'ID: ' + config[0].rcvrId + '<br>' + 'IP: ' + config[0].rcvrIp + '<br>'
      }
      return returnstring
    },
    parseTests: function (testlist) {
      var tests = JSON.parse(testlist)
      let testString = ""
      for (var i = 0; i < tests.length; i++) {
        testString = testString + tests[i].substr(32) + ', '
      }
      return testString
    },    
    getScheduled: function() {
      return getSchedule().then(res => {
        this.schedule = res.data;
      });
    },
    addnewTest: function() {
      this.testRuns.push({
        rcvrTest: undefined,
        rcvrConfig: [
          {
            rcvrId: undefined,
            rcvrIp: undefined,
            paired: false
          }
        ]
      });
    },
    setTime(time) {
      this.runTime['time'] = time
      this.modal2 = false
    },
    setDate(date) {
      this.runTime['date'] = date
      this.modal = false
    },
    addRcvr: function(index) {
      this.testRuns[index].rcvrConfig.push({
        rcvrId: undefined,
        rcvrIp: undefined,
        paired: false
      });
    },
    deleteTestRun: function(index) {
      this.testRuns.splice(index, 1);
    },
    deleteRcvr: function(indexA, indexB) {
      this.testRuns[indexA].rcvrConfig[indexB].paired = false
      this.testRuns[indexA].rcvrConfig.splice(indexB, 1);

    },
    pairRcvr: function(id, ip, indexA, indexB) {
      this.pairing = true
      var test = {
        rcvrTest: ["publicAPIpair"],
        rcvrConfig: [
          {
            rcvrId: id,
            rcvrIp: ip
          }
        ]
      }
      return pair(test).then(res => {
        console.log(res.data)
        this.testRuns[indexA].rcvrConfig[indexB].paired = true
        this.pairing = false},
        err => {
          this.testRuns[index].paired = false
        })
    },
    runTests: function(index) {
      console.log(this.testRuns[index]);
      this.loading = true;
      return initialTest(this.testRuns[index]).then(res => {
        this.responses = res.data.Result_List;
        this.loading = false;
        console.log(res);
      });
    }
  }
};
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
