<template>
 <v-layout  justify-center column>
  <v-layout column>
        <v-card>
    <v-toolbar>
      <v-toolbar-title>Test Results</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-text-field
        hide-details
        label="Search for ID ..."
        append-icon="search"
        v-model="search"
        >
      </v-text-field>
      <!-- <v-btn icon @click.native="getresults()">
        <v-icon>
          refresh
        </v-icon>
      </v-btn> -->
    </v-toolbar>
<v-card-text>
  <template>
<v-data-table
    :headers="headers"
    :items="results"
    class="elevation-1"
    :loading="loading"
    :search="search"
    :rows-per-page-items="rowsperpage"
  >
    <template slot="items" slot-scope="props">
      <tr @click="props.expanded = !props.expanded">
        <td>{{ props.item.id }}</td>
        <td>{{ passed(props.item.results) }}</td>
        <td>{{ props.item.date }}</td>
        <td>{{ props.item.employee }}</td>
        <td>
          <v-progress-circular v-if="props.item.status === 'Running'" indeterminate color="primary"></v-progress-circular>
          <v-icon color="red" v-else-if="resultscurrentStatus(props.item.results, 0) === 'Failed'">close</v-icon>
          <v-icon color="yellow darken-1" v-else-if="resultscurrentStatus(props.item.results, 0) === 'Error'">error_outline</v-icon>
         <v-icon v-else color="green">check</v-icon>
        </td>
      </tr>
    </template>
    <template slot="expand" slot-scope="props">
      <v-card flat>
        <table style="min-width: 100%;">
          <th>
            Test Name
          </th>
          <th>
            RCVR ID
          </th>
          <th>
            Status
          </th>
          <th>
            Error('s)
          </th>
          <tr v-for="(result, index) in JSON.parse(props.item.results)" :key="index">
            <td>
              {{ resultsFile(props.item.results, index) }}
            </td>
            <td>
              {{ resultsRcvr(props.item.results, index) }}
            </td>
            <td>
              {{ resultsStatus(props.item.results, index) }}
            </td>
            <td>
              {{ resultsComment(props.item.results, index) }}
            </td>
          </tr>
        </table>

      </v-card>
    </template>
  </v-data-table>
</template>
</v-card-text>
    <v-container>
    <v-divider/>
    </v-container>
    </v-card>
  </v-layout>
  </v-layout>
  </template>
  
  <script>
  export default {
  
  }
  </script>
  
  <style>
  
  </style>
  
</template>
<script>
import { results } from "@/api";
export default {
  data() {
    return {
      timer: undefined,
      pairing: false,
      loading: false,
      results: undefined,
      search: undefined,
      rowsperpage: [10,20,30,{"text":"All", "value":-1}],
      headers: [
        {
          text: "Test ID",
          value: "id",
          sortable: false
        },
        {
          text: "Passed/Run",
          value: "name",
          sortable: false
        },
        {
          text: "Date/Time",
          value: "name",
          sortable: false
        },
        {
          text: "Employee",
          value: "name",
          sortable: false
        },
        {
          text: "Status",
          value: "status", 
          sortable: false
        }
      ],
      tests: [],
      testRuns: [
        {
          rcvrTest: undefined,
          rcvrConfig: [
            {
              rcvrId: undefined,
              rcvrIp: undefined,
              paired: false
            }
          ]
        }
      ]
    };
  },
  mounted() {
    this.resultsTimer();
  },
  methods: {
    resultsFile: function (results, index) {
      results = JSON.parse(results)
      return results[index].File
    },
    resultsRcvr: function (results, index) {
      results = JSON.parse(results)
      return results[index].Info
    },
    resultsStatus: function (results, index) {
      results = JSON.parse(results)
      if (results[index].Status === '0' ) {
        return "Passed"
      } else if (results[index].Status === '1') {
        return "Failed"
      } else {
        return 'Error'
      }
    },
    resultscurrentStatus: function (results, index) {
      results = JSON.parse(results)
      var response = undefined
      for (var i = 0; i < results.length; i++) {
        let index = i
        if (results[index].Status === '0' ) {
          response = "Passed"
        } else if (results[index].Status === '1') {
          response = "Failed"
          return response
        } else {
          response =  'Error'
          return response
        }
      }
      return response
    },
    resultsComment: function (results, index) {
      results = JSON.parse(results)
      return results[index].Comment
    },
    passed: function (results) {
      results = JSON.parse(results)
      var passed = 0
      for (var i = 0; i < results.length; i++) {
        if (results[i].Status === '0' ) {
          passed = passed + 1
        }
      }
      return passed + '/' + results.length
    },
    resultsTimer: function() {
      this.getresults()
      this.timer = setInterval(this.getresults, 5000)
    },
    getresults: function() {
      this.loading = true
      return results().then(res => {
        this.results = res.data;
        this.loading = false
      });
    }
  }
};
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
th {
  text-align: left;
}
</style>
