<template>
  <v-app id="inspire" style="overflow-x: scroll;" dark>
    <v-navigation-drawer
      clipped
      fixed
      v-model="drawer"
      app
      :mini-variant="mininav"
    >
      <v-list dense>
        <v-list-tile v-for="(item, index) in navItems" :key="index" @click="gotopage(item.action)">
          <v-list-tile-action>
            <v-icon color="red">{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.text }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="mininav = !mininav">
          <v-list-tile-action>
            <v-icon color="red" v-if="mininav===false">keyboard_arrow_left</v-icon>
            <v-icon color="red" v-else>keyboard_arrow_right</v-icon>
          </v-list-tile-action>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar app fixed clipped-left color="red darken-2">
      <v-toolbar-side-icon style="color:black" @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title><span style="font-weight: bold; color: rgba(0,0,0, 1);">AUTOMATED</span><v-icon color="yellow">flash_on</v-icon><span style="color: rgba(0,0,0, 0.5);">TESTING</span></v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container fluid>
        <v-layout align-center>

          <router-view>
          </router-view>

        </v-layout>
      </v-container>
    </v-content>
    <v-footer app fixed>
      <span>&copy; 2017</span>
    </v-footer>
  </v-app>
</template>

<script>
  export default {
    data: () => ({
      drawer: false,
      mininav: true,
      navItems: [
        // {
        //   text: 'Dashboard',
        //   icon: 'dashboard',
        //   action: '/',
        // },
        {
          text: 'Run Tests',
          icon: 'directions_run',
          action: '/'
        },
        {
          text: 'Test Results',
          icon: 'list',
          action: '/results'
        },
        {
          text: 'Scheduled Tests (coming soon)',
          icon: 'schedule',
          action: '/scheduled'
        },
        {
          text: 'RCVR Config',
          icon: 'settings',
          action: '/config'
        }
      ]
    }),
    props: {
      source: String
    },
    methods: {
      gotopage: function (page) {
        this.$router.push({ path: page })
      }
    }
  }
</script>
